# -*- mode: yaml; -*-
Language: Cpp
PointerAlignment: Left

AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: true
AlignEscapedNewlines: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always

AccessModifierOffset: -1
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 75
CommentPragmas: "-\\*-.*-\\*-"
CompactNamespaces: true

NamespaceIndentation: Inner

ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
FixNamespaceComments: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 2
IndentWrappedFunctionNames: true
SortIncludes: true
ReflowComments: true
Standard: Latest
UseTab: Never
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
SpaceBeforeParens: Never

ForEachMacros: ['UNLESS', 'UNTIL', 'UMBRA_LET1', 'UMBRA_SHADOW', 'UMBRA_POISON', 'UMBRA_FREEZE']
StatementMacros: ['ARROW', 'RET', 'NOEX', 'NOEX_DECL', 'NOEXDECL', 'DECLRET', 'ASSERT_RET', 'ASSERT_NOEX', 'ASSERT_NOEXDECL']

PenaltyExcessCharacter: 30
PenaltyReturnTypeOnItsOwnLine: 3
PenaltyIndentedWhitespace: 3
PenaltyBreakBeforeFirstCallParameter: 140
